# Visual Studio
.vs/
*.user
*.suo

# Build folders
bin/
obj/

# Rider / VS Code optional
.idea/

# NuGet
*.nupkg

# Logs
*.log
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
